<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.st.BlueSTSDK">

    <!-- install only in device with ble -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- use the bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- search for new devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- store log files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- read log files -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application android:allowBackup="true"
                 android:label="@string/app_name" >

    </application>

</manifest>
