<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022(-0001) STMicroelectronics.
  ~ All rights reserved.
  ~ This software is licensed under terms that can be found in the LICENSE file in
  ~ the root directory of this software component.
  ~ If no LICENSE file comes with this software, it is provided AS-IS.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.st.demo.SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StDemo">
        <activity
            android:name="com.st.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StDemo.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>